@use "../../constants/variables" as *;

header {
  padding: 24px 100px;
  position: relative;
  .buttons {
    height: 1px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    left: 74px;
    z-index: 2;
    max-width: 1440px;
    .btn {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      color: #fff;
      font-size: 24px;
      background-color: $primary;
      border-radius: 50%;
      transition: 0.1s;
      cursor: pointer;
      z-index: 5 !important;
      &:hover {
        background-color: $primaryHover;
      }
      &:active {
        background-color: $primaryClicked;
      }
    }
    .next {
      transform: rotate(180deg);
    }
  }
  .swiper {
    border-radius: 18px;
    background-color: #fff;
  }
  .swiper-slide {
    padding: 50px 50px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 18px;
    &:active {
      cursor: grabbing;
    }
    .left {
      span {
        padding: 4px 18px;
        border-radius: 12px;
        background-color: $primary;
        color: #f5f5f5;
      }
      p {
        margin: 12px 0 24px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.01px;
        color: #677075;
      }
      h2 {
        max-width: 450px;
        font-size: 36px;
        font-weight: 700;
        line-height: 52.02px;
        color: $textColor;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      button {
        margin-top: 30px;
        padding: 10px 42px;
        background-color: $primary;
        color: #fff;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        line-height: 26.01px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
          background-color: $primaryHover;
        }
        &:active {
          background-color: $primaryClicked;
        }
      }
    }
    .right {
      width: 50%;
      .videoPlayer {
        padding-top: 61%;
      }
    }
  }
}
.info {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  .box {
    width: 24%;
    padding: 32px 0;
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 43.35px;
      span {
        color: $primary;
      }
    }
  }
}

@media screen and (width < 480px) {
  header {
    padding: 34px 22px;
    .buttons {
      display: none;
    }
    .swiper-slide {
      padding: 18px;
      flex-direction: column-reverse;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          display: none;
        }
        p {
          margin: 18px 0 12px 0;
          font-size: 16px;
          line-height: 17px;
        }
        h2 {
          text-align: center;
          font-size: 24px;
          line-height: 34.02px;
        }
        button {
          margin-top: 18px;
        }
      }
      .right {
        width: 120%;
        height: 100% !important;
        .videoPlayer {
          padding-top: 0;
        }
      }
    }
  }
  .info {
    padding: 0 22px;
    flex-wrap: wrap;
    row-gap: 12px;
    .box {
      width: 48%;
      padding: 25px 0;
    }
  }
}
@media screen and (480px < width < 800px) {
  header {
    padding: 34px 24px;
    .buttons {
      display: none;
    }
    .swiper-slide {
      padding: 18px;
      flex-direction: column-reverse;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          display: none;
        }
        p {
          margin: 20px 0 12px 0;
          font-size: 17px;
          line-height: 18px;
        }
        h2 {
          text-align: center;
          font-size: 26px;
          line-height: 36.02px;
        }
        button {
          margin-top: 18px;
        }
      }
      .right {
        width: 100%;
        height: auto;
        .videoPlayer {
          padding: 0;
          height: 50vw;
          iframe {
            height: 50vw;
          }
        }
      }
    }
  }
  .info {
    padding: 0 22px;
    .box {
      padding: 24px 0;
    }
  }
}
@media screen and (800px < width < 1000px) {
  header {
    padding: 24px 26px;
    .buttons {
      height: 1px;
      width: 98%;
      top: 44%;
      left: 10px;
      .btn {
        width: 42px;
        height: 42px;
        font-size: 22px;
      }
    }
    .swiper-slide {
      padding: 30px;
      .left {
        max-width: 400px;
        width: 48%;
        p {
          margin: 12px 0 20px 0;
          font-size: 18px;
        }
        h2 {
          font-size: 32px;
          line-height: 42.02px;
        }
      }
      .right {
        width: 50%;
        height: auto;
        .videoPlayer {
          padding: 0;
          height: 29vw;
          iframe {
            height: 29vw;
          }
        }
      }
    }
  }
  .info {
    padding: 0 26px;

    .box {
      padding: 24px 0;
    }
  }
}
@media screen and (1000px < width < 1200px) {
  header {
    padding: 24px 60px;
    .buttons {
      height: 1px;
      width: 93%;
      top: 44%;
      left: 40px;
      .btn {
        width: 42px;
        height: 42px;
        font-size: 22px;
      }
    }
    .swiper-slide {
      padding: 30px;
      .left {
        max-width: 400px;
        p {
          margin: 12px 0 20px 0;
          font-size: 18px;
        }
        h2 {
          font-size: 32px;
          line-height: 42.02px;
        }
      }
      .right {
        width: 50%;
        height: auto;
        .videoPlayer {
          padding: 0;
          height: 29vw;
          iframe {
            height: 29vw;
          }
        }
      }
    }
  }
  .info {
    padding: 0 60px;
    .box {
      padding: 28px 0;
    }
  }
}
@media screen and (1200px < width < 1400px) {
  header {
    .buttons {
      width: 88%;
    }
  }
}
