@use "../../constants/variables" as *;

.radioSlider {
  padding: 60px 100px;
}
.radioSlider_top {
  display: flex;
  justify-content: space-between;
  color: $textColor;
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 46.24px;
  }
  button {
    padding: 10px 18px;
    border: 1px solid $primary;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.12px;
    background-color: transparent;
    transition: $transitionDuration;
    cursor: pointer;
    &:hover {
      background-color: $primaryHover;
      color: #fff;
    }
    &:active {
      background-color: $primaryClicked;
    }
  }
}
.radioSlider_content {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (width < 480px) {
  .radioSlider {
    padding: 40px 22px;
  }
  .radioSlider_top {
    h2 {
      font-size: 20px;
      line-height: 28px;
    }
    button {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .radioSlider_content {
    flex-wrap: wrap;
    row-gap: 14px;
  }
}
@media screen and (480px < width < 800px) {
  .radioSlider {
    padding: 40px 24px;
  }
  .radioSlider_top {
    h2 {
      font-size: 26px;
      line-height: 28px;
    }
    button {
      padding: 8px 16px;
    }
  }
  .radioSlider_content {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 18px;
  }
}
@media screen and (800px < width < 1000px) {
  .radioSlider {
    padding: 40px 26px;
  }
  .radioSlider_top {
    h2 {
      font-size: 28px;
      line-height: 30px;
    }
    button {
      padding: 8px 16px;
    }
  }
  .radioSlider_content {
    flex-wrap: wrap;
    row-gap: 18px;
  }
}

@media screen and (1000px < width < 1200px) {
  .radioSlider {
    padding: 50px 60px;
  }
  .radioSlider_content {
    flex-wrap: wrap;
    row-gap: 18px;
  }
}