@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Jost", sans-serif;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

html {
  background-color: #f5f5f5;
}

body.modal-open {
  overflow: hidden;
  padding-right: 17px;
}

@media screen and (width < 1200px) {
  body.modal-open {
    padding-right: 0.07vw;
  }
}
