@use "../../constants/variables" as *;
$padding-y: 0px;

nav {
  padding: 0px 100px;
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $textColor;
  overflow: hidden;
  background-color: #fff;
  .left {
    display: flex;
    align-items: center;
    gap: 46px;
    .bars {
      font-size: 26px;
      display: none;
    }
  }
  .logo {
    padding: $padding-y 0;
    display: flex;
    gap: 22px;
    img {
      width: 36px;
    }
    &_name {
      h2 {
        font-size: 24px;
        font-weight: 450;
        line-height: 34.68px;
      }
      p {
        color: #00000080;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.34px;
      }
    }
  }
  ul {
    padding-top: 5px;
    display: flex;
    gap: 18px;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    .language {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      font-size: 26px;
      p {
        display: flex;
        gap: 4px;
        font-size: 13px;
        font-weight: 400;
        line-height: 23.12px;
        span {
          opacity: 0.5;
          z-index: -1;
        }
      }
      #current {
        color: $primary;
        font-weight: 500;
      }
    }
    .search {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      font-size: 25px;
      cursor: pointer;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23.12px;
      }
    }
  }
}

@media screen and (width < 480px) {
  nav {
    padding: 2px 22px;

    .left {
      gap: 22px;
      .bars {
        margin-top: 10px;
        display: inline-block;
      }
    }
    .logo {
      img {
        width: 28px;
      }
      &_name {
        h2 {
          font-size: 17px;
          line-height: 23.68px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    ul {
      display: none;
    }
    .right {
      .language {
        display: none;
      }
      .search {
        gap: 0px;
        font-size: 26px;
        p {
          display: none;
        }
      }
    }
  }
}
@media screen and (480px < width < 800px) {
  nav {
    padding: 0px 24px;

    .left {
      gap: 22px;
      .bars {
        margin-top: 10px;
        display: inline-block;
      }
    }
    .logo {
      img {
        width: 34px;
      }
      &_name {
        h2 {
          font-size: 18px;
          line-height: 23.68px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    ul {
      display: none;
    }
    .right {
      .language {
        display: flex;
        p {
          display: none;
        }
      }
      .search {
        gap: 0px;
        font-size: 26px;
        p {
          display: none;
        }
      }
    }
  }
}
@media screen and (800px < width < 1200px) {
  nav {
    padding: 0px 26px;

    .left {
      gap: 22px;
      .bars {
        margin-top: 10px;
        font-size: 28px;
        display: inline-block;
      }
    }
    .logo {
      img {
        width: 38px;
      }
      &_name {
        h2 {
          font-size: 20px;
          line-height: 28.68px;
        }
        p {
          font-size: 15px;
        }
      }
    }
    ul {
      display: none;
    }
    .right {
      .language {
        display: flex;
        gap: 6px;
      }
      .search {
        gap: 5px;
        font-size: 28px;
      }
    }
  }
}
@media screen and (1200px < width < 1400px) {
  nav {
    padding: 0px 50px;
  }
}
